@tailwind base;
@tailwind components;
@tailwind utilities;

.customSection{
    min-height: calc(100dvh - 105px);
}

/* 
 input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;

    &::part,
    &::placeholder{
        background-color: transparent;
        color: transparent;
    }
} */

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
    color: transparent;
}

input[type="date"]::selection{
    color: transparent;
    background-color: transparent;
}

.cardMenuCover{
    border-radius: 65% 26% 25% 26% / 54% 26% 0% 0%;
    min-height: 150px;
}

.cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type=number]{
    -moz-appearance: textfield;
} */

.scroll-hidden{
    scrollbar-width: none;
}